<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.password">abhi</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/sdbct1</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
                <property name="hibernate.current_session_context_class"> org.springframework.orm.hibernate3.SpringSessionContext
</property>
        
<property name="hibernate.c3p0.idle_test_period">3600</property>
        <property name="hibernate.c3p0.timeout">28800</property>   
        
        <mapping class="Model.RegisterSM"/>
        <mapping class="Model.Test2"/>
    </session-factory>
    
</hibernate-configuration>
